{% extends 'mailing/home.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="form-control text-center"> Блог </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for item in object_list %}

            <div class="col">
                <div class="card shadow-sm">
                    {% if blog.image %}
                        <img src="{{ blog.image | media_filter }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">Тема: {{ item.title }}</p>
                        <p class="card-text">Статус: {{ item.post | slice:":100" }}</p>
                        <p class="card-text">Тема: {{ item.views_count }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'blog:blog_detail' item.pk %}" role="button">Посмотреть</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}